* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
select {
    border: none;
    outline: none;
}

body {
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.button-request {
    font-family: Montserrat, sans-serif;
    color: #fff;
    border: none;
    background: #B9715E;
    padding: 16px 24px;
}

.section_100vh {
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.main-screen {
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10%;
}

.menu {
    width: 60%;
}

.reservation {
    text-align: center;
    width: 20%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu__item {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.menu__item a {
    color: #fff;
}

.main-screen__title {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.main-screen__title p {
    font-size: 18px;
    line-height: 22px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

.main-screen__title h1 {
    font-family: Alice;
    font-size: 60px;
    line-height: 1px;
    font-weight: normal;
    letter-spacing: 0.055em;
}

.form-request {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B9715E;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

.form-request__item p {
    padding-bottom: 10px;
}

.form-request__wrap {
    font-family: Montserrat;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 31px;
    width: 100%;
}

.form-request__item {
    padding: 0 5px;
}

.form-request input,
.form-select__item {
    padding: 10px;
}

.form-request__date input {
    padding: 7.5px;
}

.button-request__form {
    padding-bottom: 10px;
}

.button-request__form input {
    font-family: Montserrat, sans-serif;
    color: #fff;
    border: none;
    background: transparent;
    border: white 1px solid;
    padding: 10px 40px;
}

.gallery {
    margin: 100px 0;
}

.images {
    display: flex;
    justify-content: center;
}

.image {
    position: relative;
}

.image__text {
    position: absolute;
    bottom: 4px;
    left: 0;
    background: rgba(185, 113, 94, 0.6);
    max-width: 70%;
}

.image__text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding: 5px 10px;
}

.advantages {
    background: rgba(230, 123, 94, 0.5);
}

.advantages__wrap {
    padding: 40px 0;
}

.advantages__text {
    text-align: center;
}

.advantages__title h2 {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #000000;
}

.advantages__description {
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #8E8E8E;
    max-width: 430px;
}

.advantages-cards {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.advantages-card {
    width: 26%;
    margin: 0 20px;
    padding: 100px 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
}

.advantages-card__text h3 {
    color: #000000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.advantages-card__text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.055em;
    color: #8E8E8E;
}

.rooms {
    color: #000;
    margin-top: 150px;
}

.rooms__title h3 {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #000000;
    margin: 0px;
}

.rooms__title p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #8E8E8E;
}

.rooms-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.room-card {
    width: 30%;
}

.room-info__text a {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
}

.room-info__text p {
    padding-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #000000;
}

.room-link a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
    color: #B9715E;
}

.room-info {
    display: flex;
    align-items: flex-end;
}

.room-link {
    display: block;
    margin-left: 20px;
}

.review {
    margin-top: 150px;
    color: #000;
}

.review__title {
    text-align: center;
}

.review__title h2 {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #000000;
}

.review__title p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.review-content {
    margin-top: 50px;
    display: flex;
}

.review-content__form {
    margin-left: 30px;
}

.review-form input {
    margin-top: 20px;
}

.review-form__item {
    display: block;
    padding: 20px 100px;
    padding-left: 10px;
    border: 1px solid rgba(142, 142, 142, 0.5);
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    color: #8E8E8E;
}

.form__review {
    padding: 50px 100px;
    padding-left: 10px;
    border: 1px solid rgba(142, 142, 142, 0.5);
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    /* identical to box height */
    letter-spacing: 0.055em;
    color: #8E8E8E;
}

.review-content__form button {
    display: block;
    margin-top: 20px;
}

.review__btn {
    font-family: Montserrat, sans-serif;
    color: #fff;
    border: none;
    border: white 1px solid;
    padding: 15px 40px;
    background: #B9715E;
}

.address {
    margin-top: 150px;
    color: #000;
}

.address-title h2 {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #000000;
}

.address-title p {
    margin-top: 20px;
    margin: 0 auto;
    max-width: 40%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #8E8E8E;
}

.address-title {
    text-align: center;
}

.our-address {
    margin-top: 50px;
    background: #B9715E;
    display: flex;
    justify-content: space-around;
    padding: 39px 0;
}

.street p,
.city p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #E5E5E5;
}

.footer__wrap {
    border-top: 1px solid #000000;
    padding: 39px 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.footer nav ul li a {
    color: #000;
}

.footer__wrap .hostel-law {
    width: 30%;
}

.footer__wrap .hostel-law p {
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.footer__wrap .menu {
    width: 70%;
}