* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

img {
    width: 100%;
}

button,
input,
select {
    border: none;
    outline: none;
}

body {
    color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.button-request {
    font-family: Montserrat, sans-serif;
    color: #fff;
    border: none;
    background: #B9715E;
    padding: 16px 24px;
}

.section_100vh {
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.main-screen {
    background-image: url("../img/background.jpg");
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10%;
}

.menu {
    width: 60%;
}

.reservation {
    text-align: center;
    width: 20%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu__item {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.menu__item a {
    color: #fff;
}

.main-screen__title {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

.main-screen__title p {
    font-size: 18px;
    line-height: 22px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

.main-screen__title h1 {
    font-family: Alice;
    font-size: 60px;
    font-weight: normal;
}

.main-screen__content {
    display: flex;
    justify-content: center;
}

.form-request {
    margin: 0 auto;
    background: #B9715E;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

.form-request__item p {
    padding-bottom: 10px;
}

.form-request__wrap {
    font-family: Montserrat;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 31px;
    width: 100%;
}

.form-request__item {
    padding: 0 5px;
}

.form-request input,
.form-select__item {
    padding: 10px;
}

.form-request__date {
    padding: 7.5px;
}

#id_arrival_date_day {
    padding: 7.5px;
}

.button-request__form {
    text-align: center;
    padding-bottom: 10px;
}

.button-request__form input {
    font-family: Montserrat, sans-serif;
    color: #fff;
    border: none;
    background: transparent;
    border: white 1px solid;
    padding: 10px 40px;
}

.gallery {
    margin: 100px 0;
}

.gallery__wrap {
    display: flex;
}

.image {
    position: relative;
    display: flex;
    justify-content: center;
}

.image img {
    width: 100%;
}

.image__text {
    position: absolute;
    bottom: 0;
    left: 1.4%;
    background: rgba(185, 113, 94, 0.6);
    max-width: 70%;
}

.image__text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding: 30px 10px;
}

.advantages {
    background: rgba(230, 123, 94, 0.5);
}

.advantages__wrap {
    padding: 40px 0;
}

.advantages__text {
    text-align: center;
}

.advantages__title h2 {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #000000;
}

.advantages__description {
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #8E8E8E;
    max-width: 430px;
}

.advantages-cards {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.advantages-card {
    width: 26%;
    margin: 0 20px;
    padding: 100px 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
}

.advantages-card__text h3 {
    color: #000000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.advantages-card__text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.055em;
    color: #8E8E8E;
}

.advantages-card__img img {
    width: 25%;
}

.advantages-card__img {
    padding-bottom: 40px;
}

.form-request_phone {
    display: none;
}

.rooms {
    color: #000;
    margin-top: 150px;
}

.rooms__title h3 {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #000000;
    margin: 0px;
}

.rooms__title p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #8E8E8E;
}

.rooms-cards {
    margin-top: 50px;
}

.room-card {
    padding: 30px;
    width: 30%;
}

.room__img {
    width: 100%;
}

.room-info__text a {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #000000;
}

.room-info__text p {
    padding-top: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #000000;
}

.room-link a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #B9715E;
}

.room-info {
    display: flex;
    align-items: flex-end;
}

.room-link {
    display: block;
    margin-left: 20px;
}

.review {
    margin-top: 150px;
    color: #000;
}

.review__title {
    text-align: center;
}

.review__title h2 {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #000000;
}

.review__title p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.review-content {
    margin-top: 50px;
    display: flex;
}

.review-content__form {
    margin-left: 30px;
}

.review-form input {
    margin-top: 20px;
}

.review-form__item {
    display: block;
    padding: 20px 100px;
    padding-left: 10px;
    border: 1px solid rgba(142, 142, 142, 0.5);
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    color: #8E8E8E;
}

.form__review {
    padding: 50px 100px;
    padding-left: 10px;
    border: 1px solid rgba(142, 142, 142, 0.5);
    box-sizing: border-box;
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    /* identical to box height */
    letter-spacing: 0.055em;
    color: #8E8E8E;
}

.review-content__form button {
    display: block;
    margin-top: 20px;
}

.review__btn {
    font-family: Montserrat, sans-serif;
    color: #fff;
    border: none;
    border: white 1px solid;
    padding: 15px 40px;
    background: #B9715E;
}

.address {
    margin-top: 150px;
    color: #000;
}

.address-title h2 {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: #000000;
}

.address-title p {
    margin-top: 20px;
    margin: 0 auto;
    max-width: 40%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #8E8E8E;
}

.address-title {
    text-align: center;
}

.our-address {
    margin-top: 50px;
    background: #B9715E;
    display: flex;
    justify-content: space-around;
    padding: 39px 0;
}

.street p,
.city p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #E5E5E5;
}

.footer__wrap {
    border-top: 1px solid #000000;
    padding: 39px 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.footer nav ul li a {
    color: #000;
}

.footer__wrap .hostel-law {
    width: 30%;
}

.footer__wrap .hostel-law p {
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.footer__wrap .menu {
    width: 70%;
}

#menubox {
    display: none;
    z-index: 2;
    font-size: 32px;
    cursor: pointer;
    transition: all .6s;
}

.sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #222;
    z-index: 999;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
}

.sidemenu a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 32px;
    color: #999;
    display: block;
}

.sidemenu a:hover {
    color: white;
}

.sidemenu .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}

#menubox {
    display: none;
}

.sidemenu {
    display: none;
}

.more-rooms {
    display: none;
    text-align: center;
}

.more-rooms button {
    background: transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    border: 1px solid #000000;
    padding: 20px 17px;
}

@media (max-width: 960px) {
    .container {
        max-width: 910px;
    }
    .room-card {
        padding: 0 50px;
        margin-bottom: 50px;
        width: 50%;
    }
    .main-screen__title h1 {
        font-size: 50px;
    }
    .review {
        margin-top: 100px;
    }
    .review-content__form {
        margin-left: 10px;
    }
    .review-form__item {
        padding-left: 0px;
        padding: 20px 25px;
    }
    .form__review {
        padding: 50px 25px;
    }
    .form-select__item {
        padding: 7px 6px;
    }
}

@media (max-width: 720px) {
    .main-screen {
        background: url('../img/background-phone.jpg') center center no-repeat;
        background-size: cover;
    }
    .container {
        max-width: 700px;
    }
    #menubox {
        display: block;
    }
    .menu {
        display: none;
    }
    .logo {
        display: none;
    }
    .review-content__form {
        margin-left: 5px;
        width: 70%;
    }
    .review-form__item {
        width: 90%;
        padding-left: 0px;
        padding: 10px 15px;
    }
    .review__btn {
        margin: 0 auto;
    }
    .form__review {
        width: 90%;
        padding: 25px 10px;
    }
    .form-select__item {
        padding: 7px 10px;
    }
    .header {
        padding: 20px 0;
        justify-content: space-between;
    }
    .menubox {
        width: 50%;
    }
    .reservation {
        width: 50%;
        text-align: right;
    }
    .review-content__img {
        display: none;
    }
    .review-content {
        justify-content: center;
    }
    .review-form__item {
        width: 100%;
    }
    .form__review {
        width: 100%;
        padding: 40px 0;
        padding-left: 15px;
    }
    .review-content__form {
        max-width: 100%;
    }
    .advantages-card {
        width: 50%;
        padding: 50px 20px;
        margin-bottom: 35px;
    }
    .advantages-card__img img {
        width: 50%;
        padding-bottom: 34px;
    }
    .room-info {
        display: flex;
        justify-content: center;
    }
    .room-card {
        width: 100%;
    }
    .room__img {
        max-width: 70%;
        margin: 0 auto;
    }
    .rooms__title {
        text-align: center;
        padding-bottom: 50px;
    }
    .rooms__title h2 {
        padding-bottom: 14px;
    }
    .room-info__text p {
        max-width: 250px;
    }
    .form-request {
        display: none;
    }
    .main-screen__title {
        padding: 20px 0;
    }
    .main-screen__title h1 {
        font-size: 40px;
        max-width: 500px;
        margin: 0 auto;
    }
    .form-request_phone {
        margin-top: 80px;
        display: block;
    }
    .form-request__wrap {
        display: flex;
        text-align: center;
        background: #B9715E;
        padding: 60px 0;
    }
    .form-request__item {
        width: 100%;
        padding-bottom: 23px;
    }
    .form-request__item input,
    .form-request__item select {
        width: 60%;
    }
    .form-request__item p {
        padding: 18px 0;
    }
    .gallery {
        margin-top: 75px;
    }
    .button-request__form {
        padding-top: 28px;
    }
    .button-request__form input {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
    .room__img {
        max-width: 80%;
    }
}