* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

button,
input,
select {
    border: none;
    outline: none;
}

body {
    color: #000;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.section_100vh {
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.button-request {
    font-family: Montserrat, sans-serif;
    color: #fff;
    border: none;
    background: #B9715E;
    padding: 16px 24px;
}

.header {
    background: rgba(185, 113, 94, 0.1);
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.logo {
    width: 10%;
}

.menu {
    width: 60%;
}

.reservation__btn {
    text-align: center;
    width: 20%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu__item {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.menu__item a {
    color: #000;
}

#menubox {
    display: none;
    z-index: 2;
    font-size: 32px;
    cursor: pointer;
    transition: all .6s;
}

.sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #222;
    z-index: 999;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
}

.sidemenu a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 32px;
    color: #999;
    display: block;
}

.sidemenu a:hover {
    color: white;
}

.sidemenu .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}

#menubox {
    display: none;
}

.sidemenu {
    display: none;
}

.room {
    background: rgba(185, 113, 94, 0.1);
}

.room__wrap {
    padding-top: 100px;
}

.room-info {
    padding-top: 50px;
    padding-bottom: 50px;
}

.room__title h1 {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
}

.room__description p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    padding-top: 20px;
}

.characteristics {
    margin-top: 100px;
    border: 1px solid #000000;
}

.characteristics__wrap {
    padding: 32px 47px;
}

.characteristics__wrap h2 {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.characteristics__wrap p {
    padding: 15px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #8E8E8E;
}

.reservation {
    margin-top: 150px;
}

.reservation__title {
    text-align: center;
}

.reservation__title h2 {
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
}

.reservation-form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.reservation-form__wrap {
    border: 1px solid #000000;
    padding: 46px 50px;
}

.reservation-form__input {
    display: block;
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    color: #8E8E8E;
    border: 1px solid rgba(142, 142, 142, 0.5);
    padding: 10px;
    margin: 30px 0;
}

.reservation-form__btn {
    text-align: center;
}

.reservation-form__btn button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    border: none;
    background: #B9715E;
    padding: 15px 57px;
}

.footer__wrap {
    border-top: 1px solid #000000;
    padding: 39px 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.footer nav ul li a {
    color: #000;
}

.footer__wrap .hostel-law {
    width: 30%;
}

.footer__wrap .hostel-law p {
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.footer__wrap .menu {
    width: 70%;
}

@media (max-width: 960px) {
    .container {
        max-width: 910px;
    }
}

@media (max-width: 720px) {
    .container {
        max-width: 700px;
    }
    #menubox {
        display: block;
    }
    .menu {
        display: none;
    }
    .logo {
        display: none;
    }
    .menubox {
        width: 50%;
    }
    .reservation__btn {
        text-align: right;
        width: 50%;
    }
    .hostel-law {
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .container {
        max-width: 500px;
    }
}