/*Обнуление*/

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

button:active,
button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}


/* Основные стили */


/* Слайдер */

.slick-slider {
    min-width: 0;
}


/* Ограничивающая оболочка */

.slick-list {
    overflow: hidden;
}


/* Лента слайдов */

.slick-track {
    display: flex;
    align-items: flex-start;
}


/* Слайд */

.slick-slide {}


/* Слайд активный */

.slick-slide.slick-active {}


/* Слайд основной */

.slick-slide.slick-current {}


/* Слайд по центру */

.slick-slide.slick-center {}


/* Стрелка */

.slick-arrow {}


/* Стрелка влево */

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}


/* Конкретный слайдер */

.slider {
    position: relative;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -50px -50px 0px -50px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
    opacity: 0.6;
}

.slider .slick-arrow:hover {
    opacity: 1;
    color: antiquewhite;
    cursor: pointer;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/arrows/left-black.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url('../img/arrows/right-black.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #000;
}

.slider__item {
    padding: 0px 15px;
}

.slider__item img {
    max-width: 100%;
}

.slider__item.slick-center {}

.rooms-slider {
    position: relative;
}

.rooms-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -50px -50px 0px -50px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}

.rooms-slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/arrows/left-black.svg') 0 0 / 100% no-repeat;
}

.rooms-slider .slick-arrow.slick-next {
    right: 0;
    background: url('../img/arrows/right-black.svg') 0 0 / 100% no-repeat;
}

.rooms-slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.rooms-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rooms-slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.rooms-slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
}

.rooms-slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #000;
}

.rooms-rooms-slider__item {
    padding: 0px 15px;
}

.rooms-rooms-slider__item img {
    max-width: 100%;
}

.rooms-rooms-slider__item.slick-center {}

@media (max-width:960px) {
    .slider {
        padding: 0px 40px;
    }
    .slider .slick-dots {
        padding: 2rem 0;
    }
    .slider .slick-arrow {
        margin: -50px -5px 0px -5px;
    }
    .image__text {
        left: 1.8%;
    }
    .rooms-slider {
        padding: 40px;
    }
    .rooms-slider .slick-dots {
        padding: 2rem 0;
    }
    .rooms-slider .slick-arrow {
        margin: -50px -5px 0px -5px;
    }
    .home_slider_img {
        height: 600px;
    }
}

@media (max-width: 720px) {
    .slider {
        padding: 0px;
    }
    .rooms-slider {
        padding: 0;
    }
    .home_slider_img {
        height: 500px;
    }
    .rooms-slider {
        padding: 0;
    }
    .room__img {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .slider {
        padding: 0px 0px;
    }
    .slider .slick-dots {
        padding: 2rem 0;
    }
    .slider .slick-arrow {
        margin: -50px -5px 0px -5px;
    }
    .image__text {
        display: none;
    }
    .rooms-slider {
        padding: 0px 0px;
    }
    .rooms-slider .slick-dots {
        padding: 2rem 0;
    }
    .rooms-slider .slick-arrow {
        margin: -50px -5px 0px -5px;
    }
    .image__text {
        display: none;
    }
    .home_slider_img {
        height: 400px;
    }
}