/*Обнуление*/

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

button:active,
button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

input {
    outline: none;
}


/* Основные стили */


/* Слайдер */

.slick-slider {
    min-width: 0;
}


/* Ограничивающая оболочка */

.slick-list {
    overflow: hidden;
}


/* Лента слайдов */

.slick-track {
    display: flex;
    align-items: flex-start;
}


/* Слайд */

.slick-slide {}


/* Слайд активный */

.slick-slide.slick-active {}


/* Слайд основной */

.slick-slide.slick-current {}


/* Слайд по центру */

.slick-slide.slick-center {}


/* Стрелка */

.slick-arrow {}


/* Стрелка влево */

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}


/* Конкретный слайдер */

.slider {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

@media (max-width:767px) {
    .slider {
        padding: 0px 40px;
    }
    .slider .slick-dots {
        padding: 2rem 0;
    }
}

.slider .slick-arrow {
    position: absolute;
    bottom: 4%;
    left: 30px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
    color: #000;
}

.slider .slick-arrow.slick-prev {
    background: url('../img/arrows/left.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-next {
    margin-left: 70px;
    background: url('../img/arrows/right.svg') 0 0 / 100% no-repeat;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #000;
}

.slider__item {
    padding: 0px 15px;
}

.slider__item img {
    max-width: 100%;
}

.slider__item.slick-center {}