.rooms-slider {
    position: relative;
}

.rooms-slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -50px -50px 0px -50px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}

.rooms-slider .slick-arrow.slick-prev {
    left: 0;
    background: url('../img/arrows/left-black.svg') 0 0 / 100% no-repeat;
}

.rooms-slider .slick-arrow.slick-next {
    right: 0;
    background: url('../img/arrows/right-black.svg') 0 0 / 100% no-repeat;
}

.rooms-slider .slick-arrow.slick-disabled {
    opacity: 0.2;
}

.rooms-slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rooms-slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.rooms-slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
}

.rooms-slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #000;
}

.rooms-rooms-slider__item {
    padding: 0px 15px;
}

.rooms-rooms-slider__item img {
    max-width: 100%;
}

.rooms-rooms-slider__item.slick-center {}

@media (max-width:960px) {
    .rooms-slider {
        padding: 0px 40px;
    }
    .rooms-slider .slick-dots {
        padding: 2rem 0;
    }
    .rooms-slider .slick-arrow {
        margin: -50px -5px 0px -5px;
    }
    .image__text {
        left: 1.8%;
    }
}

@media (max-width: 576px) {
    .rooms-slider {
        padding: 0px 0px;
    }
    .rooms-slider .slick-dots {
        padding: 2rem 0;
    }
    .rooms-slider .slick-arrow {
        margin: -50px -5px 0px -5px;
    }
    .image__text {
        display: none;
    }
}