* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

button,
input,
select {
    border: none;
    outline: none;
}

body {
    color: #000;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.section_100vh {
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.button-request {
    font-family: Montserrat, sans-serif;
    color: #fff;
    border: none;
    background: #B9715E;
    padding: 16px 24px;
}

.header {
    background: rgba(185, 113, 94, 0.1);
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
}

.logo {
    width: 10%;
}

.menu {
    width: 60%;
}

.reservation__btn {
    text-align: center;
    width: 20%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu__item {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.menu__item a {
    color: #000;
}

#menubox {
    display: none;
    z-index: 2;
    font-size: 32px;
    cursor: pointer;
    transition: all .6s;
}

.sidemenu {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #222;
    z-index: 999;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
}

.sidemenu a {
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 32px;
    color: #999;
    display: block;
}

.sidemenu a:hover {
    color: white;
}

.sidemenu .closebtn {
    position: absolute;
    top: 0px;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}

#menubox {
    display: none;
}

.sidemenu {
    display: none;
}

.reservation__btn {
    text-align: center;
    width: 20%;
}

.reviews {
    margin-top: 103px;
}

.review {
    background: rgba(185, 113, 94, 0.2);
    padding: 36px 40px;
    margin-bottom: 50px;
}

.review h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}

.review-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 10px;
}

.review-date {
    text-align: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.reviews .review:nth-child(2n) {
    text-align: right;
}

.reviews .review:nth-child(2n) .review-date {
    text-align: left;
}

.footer__wrap {
    border-top: 1px solid #000000;
    padding: 39px 0;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.footer nav ul li a {
    color: #000;
}

.footer__wrap .hostel-law {
    width: 30%;
}

.footer__wrap .hostel-law p {
    color: #000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.footer__wrap .menu {
    width: 70%;
}

@media (max-width: 960px) {
    .container {
        max-width: 910px;
    }
}

@media (max-width: 720px) {
    .container {
        max-width: 700px;
    }
    #menubox {
        display: block;
    }
    .menu {
        display: none;
    }
    .logo {
        display: none;
    }
    .menubox {
        width: 50%;
    }
    .reservation__btn {
        text-align: right;
        width: 50%;
    }
    .hostel-law {
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 540px) {
    .container {
        max-width: 500px;
    }
}